Self:
  Self: {{.}}

Value:
  <p>{{item}}</p>
  
  <p>
    {{item}}
  </p>

Collection:
  <ul>
    {{#items}}
    {{.}}
    {{/items}}
  </ul>

Shortcut collection:
  <ul>
    {{items}}
  </ul>
  
Empty shortcut collection:
  <ul>
    {{empty_items}}
  </ul>

Shortcut collection strings:
  <p>
    {{string_items}}
  </p>

Collection of templates:
  <ul>
    {{#templates}}
    {{.}}
    {{/templates}}
  </ul>

Shortcut collection of templates:
  <ul>
    {{templates}}
  </ul>