A single-line template:
  <ul>
    {{single_line}}
  </ul>

A multi-line template:
  <ul>
    {{multi_line}}
  </ul>

A multi-line partial for comparison:
  <ul>
    {{>partial}}
  </ul>
  
A collection:
  <ul>
  {{#collection}}
    {{template}}
  {{/collection}}
  </ul>